* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img_header{
    width: 80px;
}

.navbar {
    background-color: #0E1742;
     font-size: 20px;
}

.header-bs{
    text-align: center;
    background-color: #313233;
}

.titulos_header{
    margin: 0px;
    color: white;
}
.btn-outline-success {
    color: #000407;
    border-color: #195b87;
  }
  
  .btn-outline-success:hover {
    color: #fff;
    background-color: #641987;
    border-color: #641987;
}

.carousel-item {
    position: relative;
    display: none;
    margin: auto;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  
.carousel-item img{
      max-width: 100%;
      height: 100%;
}

.breadcrumb{
    width: 80%;
    font-size: 20px;
    margin: 0px auto;
    background-color: #212529;
    border-radius: 0px 0px 5px 5px;
    border-top:solid 1px #fff;
    
}

.breadcrumb a{
    text-decoration: none;
    text-align: center;
    color: #fff;
   
}
.breadcrumb-item{
    padding: 10px;
}
.breadcrumb a:hover{
    text-decoration: none;
    text-align: center;
    color: #87eee0;
    
}

.breadcrumb-item.active {
    color: #6c189d;
    padding: 10px;
}

.titu-bs{
    text-align: justify;
    margin: 10px;
    font-size: 20px;
}

.titu-bs .tn2{
    color: #6c189d;
    font-size: 40px;
}
.ifbs{
    width: 80%;
    margin: 0px auto;
}

.ldiv{
    width: 100%;
    height: 5px;
    background-color: #6c189d;
    margin: 20px auto;
}
.id-page{
    color: #6c189d;
    margin: 0px;
}


.row--bs{
    width: 100%;
    margin:20px  auto;
}

.row--bs img{
    max-width: 25%;
    margin: 10px auto;
}

.parra-bs{
    font-size: 20px;
    text-align: justify;
    padding: 15px;
}
.img-bsa{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.img-bsa img{
    width: 600px;
    
}


.hero--bs{
    width: 90%;
    margin: 80px auto;

}
.hero--bs img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #0E0D0D;
}
.hero-titulo{
    width: 100%;
    padding: 20px;
    background-color: #0e0d0db9;
    color: #fff;
    margin: 10px auto;
    font-size: 25px;
    text-align: center;
}

.parrafos-bsr{
    padding: 7px;
    font-size: 20px;
    text-align: justify;
}
 .mar{
     margin: 10px;
 }
 .bus-bs{
     width: 60%;
     margin: auto;
 }

.contenedor-bs{
    background-color: #ffffff00;
    width: auto;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}
.card{
    margin: 10px;
    
}
.card #cel{
    color: #0d6efd;
}
.card img{
    max-width: 100%;
    height: 200px;
}




.formbs{
    margin: 20px auto;
    width: 50%;
    text-align: center;
    background-color:#212529;
    padding: 10px;
    border-radius: 10px;
    box-shadow:3px 3px 7px #195b87;
}
form label{
    width: 80%;
    color: #fff;
    font-size: 20px;
}





/*Footer*/
footer {
    background: #0E0D0D;
    width: 100%;
    color: white;
    padding-top: 30px;
    text-align: center;
    margin: 0px auto;
}
.img_f{
    width:20%;
    text-align: center;
    margin: 0px auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom:20px;
}



.font-content h3 {
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2px;
}

.font-content p {
    max-width: 500px;
    margin: 10px auto;
  
    font-size: 10px;
}

.redes {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0 2px 0;
    border-bottom: 5px;
}

section .section-div {
    padding: 20px 0 40px;
}

.contenedor-section-div {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 45%;
    margin-right:20px;
    border-radius: 5px;
}
.imagen-about{
    width: 20%;
    border-radius: 5px;
}


    .redes li {
        margin: 0 13px;
    }

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

.ancla {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

    .ancla:visited {
        color: red;
    }


    /* Servicios */

.subtitulo{
    color: #6c189d;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #6c189d;
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #6c189d 0%, #fbc2eb 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}