* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


.imagen1{
    width: 80%;
    height: 80%;
}

.img_usuario {
    width: 100px;
    height: 100px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    align-content:center;
}


body {
    background: #ededed;
    font-family: 'Roboto', sans-serif;
}
.ti{
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}
.ti li{

     list-style: none;
    text-decoration: none;


}
.ti li a{
    list-style: none;
    text-decoration: none;

}

.titulos_header li{

     list-style: none;
    text-decoration: none;


}
.titulos_header li a{
    list-style: none;
    text-decoration: none;

}
.contenedor {
    padding: 30px 0;
    width: 85%;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    font-family: roboto ;
    color: black;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
/**Header*/

.img {
    float: right;
    width: 40px;
    height: 40px;
}
.img_header {
    float: left;
    width: 100px;
    height: 100px;
}
/**Nav*/
.titulos_header {
    font-family:'Roboto', sans-serif;
    margin: auto;
    color: mediumaquamarine;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 35px;
    list-style: none;
    font-style: none;
}

.titulos_header a{
    font-style: none;
    list-style: none;
}
p {
    font-family: 'Roboto', sans-serif;
}

titulos_header h1 {
    font-size: 75px;
}

titulos_header h3 {
    border-bottom: 1px;
    font-size: 60px;
}


nav {
    background: #3d083f;
    border-color: #3d083f;
    color:antiquewhite;
    font-size: 20px;
    list-style: none;


    
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 100px;
    color: violet;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    font-size: 15px;

}

.menu li a:hover{
    background: rgb(198,195,195);
    background: linear-gradient(360deg, rgba(198,195,195,0.6) 0%, rgba(212,205,205,0.6) 100%);
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: antiquewhite;
    list-style: none;
    display: none;
}

.Submenu li a{
    display: block;
    padding: 15px;
    list-style: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.menu li:hover .Submenu{
    display: block;
}



#div_nav {
    width: 100%;
    height: 40px;
    float: left;
    background-color: #C8C8CF;
    margin-bottom: 1px;
}


.buscador {
    
    padding-left: 5px;
    width:800px;
    
}
    .buscador input {
        height: 45px;
        width:85px;
        
    }
#barra_buscador {
    width: 600px;
}


#boton_login {
    
}
.img_login {
    width: 27px;
    height: 27px;
    margin: 0;
    padding: 0;
}
/*section*/
/*Footer*/
footer {
    background: #0E0D0D;
    width: 100%;
    color: white;
    padding-top: 20px;
    text-decoration: none;
}
footer a{
    text-decoration: none;
}
.img_f{
    width:10%;
    height:10%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom:20px;
}
.td {
    padding: 0px 100px 0px 100px;
}

.font-content h3 {
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2px;
}

.font-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 10px;
}

.redes {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0 2px 0;
    border-bottom: 5px;
}

section .section-div {
    padding: 20px 0 40px;
}

.contenedor-section-div {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 45%;
    margin-right:20px;
    border-radius: 5px;
}
.imagen-about{
    width: 20%;
    border-radius: 5px;
}


    .redes li {
        margin: 0 13px;
    }

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

.ancla {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

    .ancla:visited {
        color: red;
    }

/*Diseño imagen_instalación*/
.img_instalación {
    width: 400px;
    border-radius: 5px;
}

.img_instala {
    width: 800px;
    border-radius: 5px;
}

.video {
    background: black;
}

ul, ol {
                list-style:none;
            }
            
            .nav > li {
                float:left;
                font-size: 15px;
            }
            
            .nav li a {
                color:#fff;
                text-decoration:none;
                padding:10px 12px;
                display:block;
            }
            
            .nav li a:hover {
                background-color:#434343;
            }
            
            .nav li ul {
                display:none;
                position:absolute;
                min-width:140px;
            }
            
            .nav li:hover > ul {
                display:block;
                background-color: #0E1742;
                font-size: 15px;
            }
            
            .nav li ul li {
                position:relative;
            }
            
            .nav li ul li ul {
                right:-140px;
                top:0px;
            }

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #7e0101;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: darkred;
}

/* About us */

.about-us {
    background: #f2f2f2;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #1FDE82;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #1FDE82;
    transition: color .5s;
}

/* Questions */


.questions {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img {
    width: 550px;
}

.textos-questions {
    margin: 0 0 0 30px;
}

.textos-questions p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}


.textos-questions a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}